.hero {
    width: 100vw;
    height: 780px;
    background: url('/src/assets/stones.png');
    object-fit: fill;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    margin-left: 15rem;
}

.mainTitle {
    font-size: 64px;
    margin-top: 12rem;
    width: 200px;
    font-weight: 500;
}

.heroBtn {
    background-color: var(--background-button);
    text-decoration: none;
    font-size: 24px;
    border: 1px solid var(--typography-color);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 4px 20px;
}

.heroBtn:hover {
    background-color: rgba(250, 250, 250, 0.4);
    transition: ease-out;
    cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
    
    .hero {
        background: url(/src/assets/stonesLaptop.png);
        background-size: 100%;
    }

    .heroText {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        background: url(/src/assets/stonesIpad.png);
    }

    .heroText {
        margin-left: 5rem;
    }

    .mainTitle {
        margin-top: 12rem;
        font-size: 54px;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        overflow-x: hidden;
        background: url(/src/assets/stonesMobile.png);
        background-repeat: no-repeat;
        background-size: 130% 100%;
    }

    .heroText {
        margin-left: 3rem;
        gap: 1rem;
    }

    .mainTitle {
        font-size: 42px;
        margin-top: 12rem;
    }

    .heroBtn {
        font-size: 20px;
    }
}