.about {
    background-color: var(--background-primary);
    width: 100vw;
    height: 100vh;
}

.aboutContainer {
    position: relative;
    overflow: hidden;
}

.flowerLeft,
.flowerRight {
    position: absolute;
}

.flowerLeft {
    top: -6rem;
    z-index: 0;
}

.flowerRight {
    top: 25rem;
    right: 0;
    z-index: 1;
}

.slogan {
    font-size: 48px;
    font-style: italic;
    font-weight: 300;
    margin: 12rem  auto;
    width: 80%;
}

.slogan-animate {
    animation-name: fade-bottom;
    animation-duration: 3s;
}

.textHighlighted {
    font-size: 48px;
    font-weight: 600;
    text-decoration: underline;
    display: inline;
    color: var(--typography-color);
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 1440px) {
    .slogan {
        font-size: 64px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {

    .slogan {
        margin-top: 12rem;
    }

}

@media screen and (max-width: 768px) {

    .slogan {
        font-size: 42px;
        margin-top: 12rem;
    }

    .textHighlighted {
        font-size: 42px;
    }

}

@media screen and (max-width: 500px) {

    .slogan {
        font-size: 36px;
        margin-top: 11rem;
    }

    .textHighlighted {
        font-size: 36px;
    }

    .flowerRight {
        top: 26rem;
    }
}

