.about {
    background-color: var(--background-primary);
    width: 100vw;
    height: 100vh;
}

.about-container {
    position: relative;
    overflow: hidden;
}

.flower-left,
.flower-right {
    position: absolute;
}

.flower-left {
    top: -6rem;
    z-index: 0;
}

.flower-right {
    top: 25rem;
    right: 0;
    z-index: 1;
}

.slogan {
    font-size: 48px;
    font-style: italic;
    font-weight: 300;
    margin: 13rem  auto;
    width: 80%;
}

.slogan-animate {
    animation-name: fade-bottom;
    animation-duration: 3s;
}

.text-highlighted {
    font-size: 48px;
    font-weight: 600;
    text-decoration: underline;
    display: inline;
    color: var(--typography-color);
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 1921px) {
    .slogan {
        font-size: 78px;
        margin: 27rem auto;
    }

    .text-highlighted {
        font-size: 68px;
    }

    .flower-left,
    .flower-right {
        height: 534px;
        width: 511px;
    }

    .flower-right {
        top: 40rem;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .slogan {
        font-size: 68px;
        margin-top: 21rem;
    }

    .text-highlighted {
        font-size: 68px;
    }

    .flower-left,
    .flower-right {
        height: 534px;
        width: 511px;
    }

    .flower-left {
        top: -10rem;
    }

    .flower-right {
        top: 32rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {

    .slogan {
        margin-top: 12rem;
    }

}

@media screen and (max-width: 768px) {

    .slogan {
        font-size: 42px;
        margin-top: 12rem;
    }

    .text-highlighted {
        font-size: 42px;
    }

}

@media screen and (max-width: 500px) {

    .slogan {
        font-size: 36px;
        margin-top: 11rem;
    }

    .text-highlighted {
        font-size: 36px;
    }

    .flowerright {
        top: 26rem;
    }
}

