.contact {
    width: 100vw;
    height: 750px;
    background: url('/src/assets/woods.png');
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

.contact-container {
    margin: 8rem auto;
    width: fit-content;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem
}

.contact-container-animate {
    animation-name: fade-bottom;
    animation-duration: 2s;
}

.text-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.section-left, 
.section-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-text {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contact-title {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
    .text-container {
        gap: 2rem;
    }
}


@media screen and (max-width: 768px) {

    .contact-container {
        width: fit-content;
    }
    
    .text-container {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        
    }

    .section-left,
    .section-right {
        width: 200px;
    }

    .contact-title {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 500px) {
    
    .contact-container {
        padding: 2rem 2rem;
    }

    .text-container {
        padding: 0;
    }

    

}

