.confirmation {
    width: 100vw;
    height: 980px;
    background: url('/src/assets/woods.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}

.overlay {
    width: 80vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem auto;
}

.confirmationTitle {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
}

.confirmationText {
    font-size: 28px;
    margin-bottom: 0.5rem;
    text-align: center;
}

.heroBtn {
    background-color: var(--background-button);
    text-decoration: none;
    font-size: 24px;
    border: 1px solid var(--typography-color);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 5px 50px;
    text-transform: uppercase;
    margin-top: 2rem;
}

.heroBtn:hover {
    background-color: rgba(250, 250, 250, 0.3);
    transition: ease-out;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .confirmationTitle {
        font-size: 36px;
    }
}

@media screen and (max-width: 500px) {

    .confirmationTitle {
        font-size: 32px;
    }

    .confirmationText {
        font-size: 22px;
    }

    .heroBtn {
        font-size: 20px;
        padding: 4px 15px;
    }
}